@codeminds-digital:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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
//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
